#mainbackground{
    height: 100pxvh;
    
    background-color: aqua;
}

#buttonspace{
    padding-top: 250px;
    padding-left: 60px;
    text-align: center;
}

#blue{
    color: blue;
}

#green{
    /* box-shadow: 0px 0px 50px white; */
    color: green;
}

#red{
    color: red;
}